<form action="/account/create" method="post" id="create-form">
    <div class="grid-x align-center">
        <div class="cell medium-8">
            <div class="callout">
                <h3>Are You Down Dog Account</h3>
                <div class="grid-x">
                    <div class="cell small-6">
                        <input type="text" name="fname" placeholder="First Name">
                    </div>
                    <div class="cell small-6">
                        <input type="text" name="lname" placeholder="Last Name">
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell small-12">
                        <input type="text" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell small-12">
                        <input type="text" name="phone" placeholder="Cell Phone">
                    </div>
                </div>
                <div class="grid-x">
                    <div class="cell small-6">
                        <input type="text" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="cell small-6">
                        <input type="text" id="password2" name="password2" placeholder="Confirm">
                    </div>
                </div>
                <div class="grid-x align-right">
                    <input id="create-button" type="submit" name="submit" value="Next" class="button">
                </div>
            </div>
        </div>
    </div>
</form>