<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
</head>
<body>
<!-- Start Top Bar -->
<div class="grid-container">
    <div class="button-group float-left">
        <a class="hollow button">
            <span class="fi-home"> </span>
        </a>
        <a class="hollow button">
            <span class="fi-arrow-right"> </span>
        </a>
    </div>
    <div class="float-right">
        <a class="hollow button float-right">
            <span class="fi-torso"> </span> Profile
        </a>
    </div>
</div>
<!-- End Top Bar -->

<br><br><br>

<div class="grid-container">
    {{ include(template) }}

    <hr>
    <footer>
        <p class="text-center">&copy; {{ "now"|date("Y") }} Are You Down Dog Yoga</p>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/what-input@5.2.10/dist/what-input.min.js" integrity="sha256-ZLjSztVkz5q3lKFjN9AgL6qR7TGLE+qnTXnNNTWtMF4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>

<script>
    $(document).foundation();

    $("#create-form").submit(function (e) {
        var password = $("#password").val();
        var password2 = $("#password2").val();

        if (password != password2) {
            console.log('form submitted');
            alert('Passwords do no match');
            e.preventDefault();
        }

    });
</script>

</body>
</html>


